/*vars*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.25;
}
body, .type-color {
    color: #434343;
}
.section {
    width: 100%;
}
.section-inner {
    width: 100%;
    max-width: 1200px;
}
.ico-feature {
    width: 70px;

}
@media screen and (min-width:30em){
    body {
        line-height: 1.5;
    }
    .ico-feature {
        width: 100px;
    
    }
}
